*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}
h2{
    text-align: center;
    margin: 10px 0;
}
header{
    background-color: black;
    color: white;
    padding: 15px 20px;
}
.main-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.card{
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 15px;
}
.card img{
    max-width: 100px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.card-profile{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    justify-items: center;

}
button{
    background-color: #ffd966;
    box-shadow: 5px 5px 0 black;
    padding: 5px 10px;
    border: 2px solid black;
    margin-left: 20px;
}