.search{
    border: 1px solid #00ffff;
    color: #00ffff;
    border-radius: 1rem;
    width: fit-content;
    padding: 0 20px;
}
.plus{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #0ff;
    color: white;
    border: none;
}
.account{
    background-color: #2b78e4;
    color: white;
    box-shadow: 3px 3px 0px #000;
    border: 1px solid #000000;
    width: fit-content;
}
.container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}