.App {
  text-align: center;
  width: 430px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form{
  width: 430px;
  margin: 0 auto;
}

.formEntry{
  background-color: #F2F2F2;
  padding: 15px 25px 15px 55px;
  display: flex;
  border-radius: 5px;
  border: 1px solid #828282;
  margin-top: 15px;
  align-items: center;
}

.formEntry label{
  color: #828282;
  width: 150px;
  padding-right: 10px;
}
.formEntry input{
  height: 20px;
  width: 250px;
}